/*
@font-face {
  font-family: "AtypDisplay";
  src: url("../fonts/atyp-font-family/AtypDisplay-Regular.ttf") format("ttf"),
  url("../fonts/atyp-font-family/AtypDisplay-Semibold.ttf") format("ttf"),
  url("../fonts/atyp-font-family/AtypDisplay-Medium.ttf") format("ttf"),
  url("../fonts/atyp-font-family/AtypDisplay-Bold.ttf") format("ttf");
}*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@font-face {
  font-family: "AthelasRegular";
  src: url("../fonts/Athelas-Regular.ttf") format("ttf");
}
/* Variables */
:root {
  --primary-color: #ff6b22;
  --primary-color-dark: #d66a1c;
  --dark-bg: #221f20;
  --light-text: #fff;
  --accent-color: #0b3438;
  /*--font-base: 'AtypDisplay', sans-serif;*/
  --font-base: "Manrope", sans-serif;
  --font-heading: AthelasRegular, serif;
  --max-width: 1200px;
  --container-padding: 0;
}

* {
  box-sizing: border-box;
}

/* Base styles */
body {
  margin: 0;
  font-family: var(--font-base);
  color: #333;
  background-color: #fff;
  line-height: 1.6;
  position: relative;
}

.container {
  width: 90%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: var(--container-padding) 0;
}

h1, h2, h3, .title {
  margin: 0 auto 1rem;
  font-family: var(--font-heading);
  font-weight: 500;
  line-height: 1.2;
  width: 810px;
  max-width: 100%;
}

h2 {
  font-size: 3rem;
}

p {
  font-family: var(--font-base);
  letter-spacing: 0.5px;
}

section {
  padding: 120px 0;
}

img {
  max-width: 100%;
}

.btn, .contact-section .contact-form .submit-btn {
  font-family: var(--font-base);
  background-color: var(--primary-color);
  /*color: var(--light-text);*/
  display: inline-block;
  color: #000;
  letter-spacing: 2px;
  padding: 0.8rem 1.3rem;
  border: none;
  border-radius: 0;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn:hover, .contact-section .contact-form .submit-btn:hover {
  background-color: var(--primary-color-dark);
}

.title-block {
  color: #fff;
  text-align: center;
  width: 560px;
  max-width: 100%;
  margin: 0 auto;
}

.pre-title {
  color: #b8a291;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0 auto 0.8rem;
}

.d-none {
  display: none !important;
  visibility: hidden;
}

/* Header */
.header {
  padding: 20px 0;
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.header .header-logo {
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 700;
  margin-right: 0.5rem;
}
.header .btn, .header .contact-section .contact-form .submit-btn, .contact-section .contact-form .header .submit-btn {
  text-align: center;
}
.header .nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .main-nav .nav-list {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header .main-nav .nav-list li a {
  color: #333;
  text-decoration: none;
  font-weight: 500;
}
.header .main-nav .nav-list li a:hover {
  text-decoration: underline;
}

/* Hero */
.hero-section {
  background: url("../images/hero-bg.jpg") center/cover no-repeat;
  text-align: center;
  color: var(--light-text);
  padding: 6rem 1rem 1rem;
}
.hero-section .hero-content {
  min-height: calc(100vh - 7rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-section .pre-title {
  color: #fff;
}
.hero-section h1 {
  width: auto;
  font-family: var(--font-heading);
  font-weight: 400;
  font-size: 88px;
}
.hero-section p {
  font-size: 1rem;
  margin: 0 auto 2rem;
  width: 810px;
  max-width: 100%;
}

/* Awards */
.awards-section {
  background-color: var(--dark-bg);
  color: var(--light-text);
  text-align: center;
  /*padding-bottom: 40px;*/
}
.awards-section .awards {
  display: flex;
  gap: 20px;
  position: relative;
}
.awards-section .award {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  width: 25%;
  padding-top: 1rem;
  border: 1px solid transparent;
  position: relative;
  /*top: -8rem;*/
}
.awards-section .award-title {
  margin: 0 auto 0.5rem;
  font-family: var(--font-heading);
  font-size: 24px;
}
.awards-section .award-img-ico {
  display: inline-block;
  border-radius: 50%;
  max-width: 100%;
  width: 100%;
  height: auto;
  position: relative;
  padding: 0 0.3rem;
}
.awards-section .award-img-ico:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  left: 0;
  background-color: var(--accent-color);
}
.awards-section .award-img {
  width: 100%;
  position: relative;
  z-index: 1;
}
.awards-section .award-wrap {
  background-color: var(--accent-color);
  padding: 0.5rem 1rem 0.5rem;
}
.awards-section .award-text {
  min-height: 77px;
}
.awards-section .features {
  display: none;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  font-size: 1.125rem;
}

/* Video */
.video-section {
  background-color: var(--accent-color);
  color: var(--light-text);
  text-align: center;
}
.video-section .title {
  width: 780px;
}
.video-section .video-container {
  margin-top: 2rem;
  position: relative;
  background: transparent;
}
.video-section .video-container video {
  width: 100%;
}
.video-section .video-container .play-btn {
  display: block;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent url("../images/play-btn.png") center/contain no-repeat;
  border-color: transparent;
  color: #fff;
  font-size: 2rem;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}

/* Destinations */
.destinations-section {
  background-color: var(--dark-bg);
}
.destinations-section .title-block {
  width: 810px;
}
.destinations-section .destinations-cards {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  color: #fff;
  /*display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;*/
}
.destinations-section .destinations-cards .card {
  flex-basis: calc(25% - 0.75rem);
  background-color: #191718;
  transition: 0.3s;
}
.destinations-section .destinations-cards .card:hover {
  background-color: var(--accent-color);
  transform: scale(1.03);
  filter: brightness(1.2);
  transition: 0.3s;
}
.destinations-section .destinations-cards .card-title {
  padding: 0 0.8rem;
  margin: 0.5rem 0 0.5rem;
  font-size: 18px;
  font-weight: 500;
}
.destinations-section .destinations-cards .card-text {
  padding: 0 0.8rem;
  font-size: 14px;
  opacity: 0.7;
}

/* Camps */
.camps-section {
  background-color: #efebe5;
}
.camps-section .title-block {
  display: flex;
  gap: 1rem;
  text-align: start;
  width: 100%;
  margin: 0;
  color: #000;
}
.camps-section .title-block .col {
  width: 50%;
}
.camps-section .title-block .title-text {
  padding-top: 3rem;
  padding-right: 15%;
  opacity: 0.8;
}
.camps-section .camp-slides-wrap {
  margin-top: 6rem;
  position: relative;
}
.camps-section .camp-slides-progress {
  position: absolute;
  z-index: 2;
  top: -5rem;
  right: 7rem;
  font-size: 20px;
}
.camps-section .camp-slides-progress span {
  opacity: 0.7;
}
.camps-section .camp-slides {
  position: relative;
}
.camps-section .camp-slides .splide__arrow {
  top: -4rem;
  width: 20px;
  height: 16px;
}
.camps-section .camp-slides .splide__arrow.splide__arrow--prev {
  color: transparent;
  background: transparent url("../images/arrow-left.svg") 0 0/contain no-repeat;
  left: auto;
  right: 4rem;
}
.camps-section .camp-slides .splide__arrow.splide__arrow--prev * {
  opacity: 0;
}
.camps-section .camp-slides .splide__arrow.splide__arrow--next {
  color: transparent;
  background: transparent url("../images/arrow-right.svg") 0 0/contain no-repeat;
  right: 0;
}
.camps-section .camp-slides .splide__arrow.splide__arrow--next * {
  opacity: 0;
}
.camps-section .camp-slides .camp-slide {
  background-color: #fff;
  transition: 0.3s;
}
.camps-section .camp-slides .camp-slide:hover {
  transform: scale(0.97);
  transition: 0.3s;
}
.camps-section .camp-slides .camp-slide:hover img {
  filter: brightness(1.2);
  transition: 0.3s;
}
.camps-section .camp-slides .camp-slide .slide-txt-wrap {
  padding-right: 2rem;
  margin-bottom: 0.75rem;
}
.camps-section .camp-slides .slide-img-wrap img {
  width: 100%;
}
.camps-section .camp-slides .slide-txt-wrap {
  padding: 0 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.camps-section .camp-slides .splide__pagination__page {
  display: none;
}
.camps-section .camp-slides .card-title {
  color: #202020;
  font-family: Athelas, serif;
  font-size: 24px;
  font-weight: 400;
  opacity: 0.75;
  margin: 1rem 0 0.5rem;
}
.camps-section .camp-slides .card-text {
  min-height: 67.2px;
}
.camps-section .camp-slides .card-text, .camps-section .camp-slides .card-price {
  font-family: var(--font-base);
  font-size: 14px;
  letter-spacing: 0.5px;
  opacity: 0.7;
}
.camps-section .camp-slides .card-price {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  padding-bottom: 1.5rem;
}
.camps-section .camp-slides .card-price .price {
  font-family: Athelas, serif;
  font-size: 18px;
  font-weight: 500;
}
.camps-section .camp-slides .card-location {
  position: relative;
  margin-top: 0.5rem;
  padding-left: 1.5rem;
  font-family: var(--font-base);
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: #B6A28F;
}
.camps-section .camp-slides .card-location:before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 14px;
  height: 20px;
  background: url("../images/location.svg") 0 0/contain no-repeat;
  top: -3px;
  left: 0;
}
.camps-section .button-wrapper {
  margin-top: 3rem;
  text-align: center;
}

/* How It Works */
.how-it-works-section {
  background-color: var(--dark-bg);
  color: var(--light-text);
}
.how-it-works-section .title {
  margin-bottom: 2rem;
}
.how-it-works-section .how-cols {
  display: flex;
}
.how-it-works-section .how-cols .col {
  width: 50%;
}
.how-it-works-section .how-cols .col.text-col {
  padding-right: 10rem;
}
.how-it-works-section .how-items {
  margin-top: 2rem;
}
.how-it-works-section .how-items .item {
  margin-bottom: 2rem;
}
.how-it-works-section .how-items .item-title {
  margin-bottom: 0.5rem;
}
.how-it-works-section .how-items .item-text {
  margin-top: 0;
}
.how-it-works-section .how-i-cols {
  display: flex;
  gap: 1rem;
}
.how-it-works-section .how-i-cols .how-i-col {
  width: 50%;
}
.how-it-works-section .how-i-cols .how-i-col img {
  margin-bottom: 1rem;
  transition: 0.3s;
}
.how-it-works-section .how-i-cols .how-i-col img:hover {
  transform: scale(1.03);
  filter: brightness(1.2);
  transition: 0.3s;
}
.how-it-works-section .how-i-cols .how-i-col.col-2 {
  margin-top: 5rem;
}

/* Featured */
.featured-section {
  color: #000;
}
.featured-section .title {
  color: #000;
}
.featured-section .featured-logos {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
}
.featured-section .featured-logos .featured-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.featured-section .featured-logos .featured-logo .featured-logo-img {
  text-align: center;
  width: auto;
}

/* CTA */
.cta-section {
  background: #9a8e81 url("../images/cta-bg.jpg") center/cover fixed no-repeat;
  color: var(--light-text);
  text-align: center;
  padding: 5rem 1rem;
}

.cta-content {
  text-align: center;
  min-height: 640px;
  width: 600px;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cta-content .btn, .cta-content .contact-section .contact-form .submit-btn, .contact-section .contact-form .cta-content .submit-btn {
  width: 10rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 1rem auto;
}

.content-cols {
  text-align: start;
  display: flex;
  gap: 4rem;
}
.content-cols .content-title-col {
  width: calc(40% - 3rem);
}
.content-cols .content-text-col {
  margin-top: 3rem;
  width: calc(60% - 3rem);
}
.content-cols .text-cols {
  display: flex;
  gap: 1rem;
}

/* Testimonials */
.testimonials-section {
  background-color: #fff;
}
.testimonials-section .stars-wrapper {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  gap: 7px;
  font-weight: 500;
}
.testimonials-section .stars-wrapper > * {
  display: inline-block;
}
.testimonials-section .stars-wrapper .grade-text {
  font-size: 0.9rem;
}
.testimonials-section .stars-wrapper .stars, .testimonials-section .stars-wrapper .grade-author {
  display: inline-flex;
}
.testimonials-section .stars-wrapper .grade-author {
  margin-top: 3px;
  align-items: flex-start;
}
.testimonials-section .stars-wrapper .grade-author-text {
  padding-top: 2px;
  font-size: 0.8rem;
}
.testimonials-section .testi-title {
  color: #000;
  font-family: var(--font-heading);
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  margin: 0 0 1rem;
}
.testimonials-section .testi-name span {
  font-weight: 600;
}
.testimonials-section .text {
  opacity: 0.95;
}

/* FAQ */
.faq-section {
  background-color: #efebe5;
}
.faq-section .pre-title {
  color: #505e69;
}
.faq-section .faq-question {
  color: #000;
  font-family: var(--font-base);
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0.5rem 0 0.5rem;
}
.faq-section .faq-answer {
  margin: 0;
}
.faq-section .faq-item {
  margin: 0 0 1.5rem;
}

/* Contact */
.contact-section {
  position: relative;
  color: #fff;
  background-color: #221f20;
}
.contact-section .bg-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.contact-section .relative-container {
  position: relative;
  z-index: 1;
}
.contact-section .contact-cols {
  display: flex;
  gap: 4rem;
}
.contact-section .contact-cols .col {
  width: calc(50% - 2rem);
}
.contact-section .contact-form .input,
.contact-section .contact-form .textarea {
  padding: 0.75rem;
  border: 1px solid #ccc;
  width: 100%;
  margin: 0.3rem 0 1.3rem;
}
.contact-section .contact-form .submit-btn {
  align-self: flex-start;
  margin-top: 1rem;
}

/* Bottom CTA */
.bottom-cta-section {
  background: #9a8e81 url("../images/bottom-cta-bg.jpg") center/cover fixed no-repeat;
  color: var(--light-text);
  text-align: center;
  padding: 5rem 1rem;
}

/* Footer */
.footer {
  background-color: #000;
  color: var(--light-text);
  text-align: center;
  padding: 5rem 0;
  font-size: 0.875rem;
}
.footer .footer-logo {
  width: 200px;
  max-width: 100%;
}
.footer .footer-nav {
  margin-bottom: 1rem;
}
.footer .footer-nav .nav-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  padding: 0;
}
.footer .footer-nav .nav-list li > a {
  color: #fff;
  text-decoration: none;
}
.footer .copyright {
  color: #807f7f;
}

/* Responsive */
@media (max-width: 1199px) {
  .awards-section .awards {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .awards-section .awards .award {
    width: calc(50% - 0.5rem);
  }
  .destinations-section .destinations-cards .card {
    flex-basis: calc(50% - 0.5rem);
  }
  .destinations-section .destinations-cards .card img {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .btn, .contact-section .contact-form .submit-btn {
    font-size: 0.9rem;
  }
  section {
    padding: 60px 0;
  }
  .header .header-logo {
    max-width: 40vw;
  }
  .header .btn, .header .contact-section .contact-form .submit-btn, .contact-section .contact-form .header .submit-btn {
    padding: 7px 10px;
    line-height: 1.4;
  }
  .header .main-nav .nav-list {
    flex-direction: column;
    gap: 1rem;
  }
  .awards-section .features,
  .camps-section .camp-cards,
  .featured-section .logos {
    flex-direction: column;
    align-items: center;
  }
  .hero-section {
    /*padding: 10rem 1rem 3rem;*/
    background-position-x: 33%;
  }
  .hero-section h1 {
    font-size: 2rem;
  }
  .awards-section .awards {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .awards-section .awards .award {
    width: 100%;
  }
  .video-section .video-container .play-btn {
    width: 4rem;
    height: 4rem;
  }
  .camps-section .title-block {
    flex-wrap: wrap;
    text-align: center;
  }
  .camps-section .title-block .col {
    width: 100%;
  }
  .camps-section .title-block .title-text {
    padding: 0;
  }
  .camps-section .camp-slides-progress {
    right: 12rem;
  }
  .camps-section .camp-slides .splide__arrow.splide__arrow--prev {
    right: 6rem;
  }
  .camps-section .camp-slides .splide__arrow.splide__arrow--next {
    right: 2rem;
  }
  .destinations-section .destinations-cards .card {
    flex-basis: 100%;
  }
  .how-it-works-section {
    text-align: center;
  }
  .how-it-works-section .how-cols {
    flex-wrap: wrap;
  }
  .how-it-works-section .how-cols .col {
    width: 100%;
  }
  .how-it-works-section .how-cols .col.text-col {
    padding: 0;
    margin-bottom: 4rem;
  }
  .how-it-works-section .how-i-cols {
    flex-wrap: wrap;
    gap: 0;
    column-gap: 0;
  }
  .how-it-works-section .how-i-cols .how-i-col {
    width: 100%;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  .how-it-works-section .how-i-cols .how-i-col.col-2 {
    margin-top: 0;
  }
  .content-cols {
    flex-wrap: wrap;
    text-align: center;
    gap: 3rem;
  }
  .content-cols .col {
    width: 100%;
  }
  .content-cols .content-text-col {
    margin-top: 0;
  }
  .content-cols .text-cols {
    flex-wrap: wrap;
    gap: 3rem;
  }
  .content-cols .text-cols .text-col {
    width: 100%;
  }
  .testimonials-section .stars-wrapper {
    justify-content: center;
  }
  .faq-section .faq-item {
    text-align: start;
  }
  .faq-section .faq-item:not(:last-child) {
    margin-bottom: 3rem;
  }
  .contact-section .contact-cols {
    flex-wrap: wrap;
  }
  .contact-section .contact-cols .col {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
